/*
-------------------------------------------------------
-------------------------------------------------------
					Modificações Ana
*//*
-------------------------------------------------------
-------------------------------------------------------
*/
/* Desktop maiores */
@media (min-width: 1200px) { ... }
 
/* tables em formato porta retrato até os desktos no formato paisagem */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* dispositivo em paisagem até os tablets em formato porta-retrato */
@media (max-width: 767px) { ... }
 
/* dispositivo no formato paisagem e abaixos */
@media (max-width: 480px) { ... }

/*logo*/
a.navbar-brand{
	background:url(../img/logoTrans.png);
	height:75px;
	width:200px;
	text-indent:-9999px;
}
#bs-example-navbar-collapse-1{
	margin-top:15px;
}
#menu{
	margin-top:13px;
}
.section-heading{
	color:#747474;
	font-size:30pt;
}
#portfolio{
	margin-top:50px;
}
.nomeEquipe{
	font-size:17pt;
	font-weight:bold;
	color:#58595b;
	text-align:center;
}
.textoEquipe{text-align:center;}

input:invalid {
  outline: 1px solid #cc0000;
}

.col-centered{
    /*float: none;*/
    margin: 0 auto;
}

/*modal*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 1000px;
	position: relative;
	margin: 1% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #fbfbfb);
	background: -webkit-linear-gradient(#fff, #fbfbfb);
	background: -o-linear-gradient(#fff, #fbfbfb);
}

.close {
	background: #286090;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/*modal alert*/
.modalAlert {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalAlert:target {
	opacity:1;
	pointer-events: auto;
}

.modalAlert > div {
	width: 450px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
/*news*/
#news, .result{
	
	height:auto;
	border:1px solid #e7e7e7;
	margin-bottom:10px;
	float: left;
	-webkit-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.75);
	
}
.date, .hour{font-weight:lighter;}
.type{
	font-weight:bold;
	font-size:13pt;
}